<script lang="ts">
  import { afterUpdate, onDestroy } from 'svelte';
  import { timer, scrollToBottom } from '../helpers/utils';
  import Message from './Message.svelte';
  import Data from './Data.svelte';

  type Message = {
    name: string;
    message: string;
  };

  const initialChatMessages: Message[] = [
    {
      name: 'fish',
      message: 'Hello. I am Svelte Fish Bot.',
    },
    {
      name: 'fish',
      message: 'I know many things about fish you can eat.',
    },
    {
      name: 'fish',
      message: 'Please name a seafood fish.',
    },
  ];

  let startedChat = false;
  let introHasCompleted = false;
  let chatMessages: Message[] = [];
  let textValue = '';
  let loadingMessages = false;
  let missFetchCount = 0;
  let scrollTimeout: NodeJS.Timeout;

  type Data = Record<string, string> | null;
  let data: Data | null = null;

  afterUpdate(() => {
    scrollTimeout = scrollToBottom('messages');
  });

  onDestroy(() => {
    clearTimeout(scrollTimeout);
  });

  const loadChatMessages = async (messages: Message[]): Promise<void> => {
    loadingMessages = true;

    for (let i = 0; i < messages.length; i++) {
      await timer(500);
      chatMessages.push(messages[i]);
      chatMessages = [...chatMessages]; // for reactivity
    }

    loadingMessages = false;
  };

  const startChat = async (): Promise<void> => {
    startedChat = true;
    await loadChatMessages(initialChatMessages);
    introHasCompleted = true;
  };

  const handleTextChange = (event): void => {
    textValue = event.target.value;
  };

  const handleSendChat = async (): Promise<void> => {
    const trimmedText = textValue.trim();

    if (!trimmedText) {
      return;
    }

    await loadChatMessages([
      {
        name: 'user',
        message: trimmedText,
      },
    ]);

    const searchText = trimmedText.replace(/ /g, '-').toLowerCase();

    try {
      const resData = await fetch(`/api/data/${searchText}`).then((response) =>
        response.json()
      );

      if (!resData.length) {
        if (missFetchCount > 0) {
          await loadChatMessages([
            {
              name: 'fish',
              message: 'Try one of the fish here:',
            },
            {
              name: 'fish',
              message: 'https://www.fishwatch.gov/profiles/all-profiles',
            },
          ]);

          missFetchCount = 0;
        } else {
          await loadChatMessages([
            {
              name: 'fish',
              message: "I don't know about that fish.",
            },
          ]);

          ++missFetchCount;
        }
      } else {
        await loadChatMessages([
          {
            name: 'fish',
            message: 'Thar she blows! Look below!',
          },
        ]);

        data = resData[0];
        missFetchCount = 0;
      }
    } catch (error) {
      console.error(error);
      await loadChatMessages([
        {
          name: 'fish',
          message: `Something went wrong... ${error.message}`,
        },
      ]);
    }
  };
</script>

<div class="container">
  <div class="chatbox">
    {#if startedChat === false}
      <div class="fish-container">
        <pre class="fish-art">
        {`
        |\\   \\\\\\\\__     o 
        | \\_/    o \\    o 
        > _   (( <_  oo  
        | / \\__+___/      
        |/     |/         
        `}
        </pre>
        <button class="start-button" on:click={startChat}>
          Start Chatting With The Fish
        </button>
      </div>
    {:else}
      <div class="chat-container">
        <div id="messages" class="messages">
          {#each chatMessages as chat}
            <Message text={chat.message} name={chat.name} />
          {/each}
          {#if loadingMessages === true}
            <div>&nbsp; ...</div>
          {/if}
        </div>
        <div class="chat-input-container">
          <input
            type="text"
            value={textValue}
            on:input={handleTextChange}
            on:keydown={(event) => {
              if (!introHasCompleted) {
                return;
              }

              if (event.key === 'Enter') {
                handleSendChat();
              }
            }}
            placeholder="e.g. Red Snapper"
          />
          <button
            class="send-button"
            on:click={handleSendChat}
            disabled={!introHasCompleted || !textValue}
          >
            Send
          </button>
        </div>
      </div>
    {/if}
  </div>
  <Data {data} />
</div>

<style lang="scss">
  @import '../styles/vars';

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chat-input-container {
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    width: 100%;
    gap: 8px;
    input[type='text'] {
      width: 100%;
      padding: 10px;
      border: 1px solid $primary;
      color: $primary;
      outline: none;
    }
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .messages {
    overflow-y: auto;
    height: 100%;
  }

  .chatbox {
    display: flex;
    flex-direction: column;
    border: 1px solid $primary;
    border-radius: 4px;
    width: 640px;
    max-width: 100%;
    height: 500px;
    max-height: 80vh;
    margin: 16px;
    padding: 16px;
  }

  .fish-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }

  .fish-art {
    color: $primary;
    font-size: 30px;
    text-align: center;
  }

  .start-button {
    align-self: center;
    justify-self: center;
    font-family: inherit;
    font-size: inherit;
    padding: 16px 32px;
    color: $primary;
    background-color: $buttonBackground;
    border-radius: 32px;
    border: 2px solid rgba(255, 62, 0, 0);
    cursor: pointer;

    &:focus,
    &:hover {
      border: 2px solid $primary;
    }

    &:active {
      background-color: rgba(255, 62, 0, 0.2);
    }
  }

  .send-button {
    border: 1px solid darkcyan;
    border-radius: 2px;
    background-color: rgba($color: #87cefa, $alpha: 0.4);
    color: darkcyan;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: rgba($color: #87cefa, $alpha: 0.6);
    }

    &:active {
      background-color: rgba($color: #87cefa, $alpha: 0.8);
    }

    &:disabled {
      background-color: rgba($color: #87cefa, $alpha: 0.1);
    }
  }
</style>
