<script lang="ts">
  import { beforeUpdate, afterUpdate, onDestroy } from 'svelte';
  import { scrollIntoView } from '../helpers/utils';

  const imageGalleryKey = 'Image Gallery';
  const mainImageKey = 'Species Illustration Photo';

  type Image = {
    alt: string;
    src: string;
    title: string;
  };

  type Data = Record<string, any> | null;

  let scrollTimeout: NodeJS.Timeout;
  let images: Image[] | null = null;
  let mainImage: Image | null = null;
  export let data: Data | null = null;

  beforeUpdate(() => {
    if (data) {
      Object.keys(data).forEach((key) => {
        if (
          !data[key] ||
          key === 'Quote Background Color' ||
          key === 'Path' ||
          key === 'last_update'
        ) {
          delete data[key];
        } else if (key === mainImageKey) {
          mainImage = data[key];
          delete data[key];
        } else if (key === imageGalleryKey) {
          images = data[key];
          delete data[key];
        }
      });
    }
  });

  afterUpdate(() => {
    scrollTimeout = scrollIntoView('main-image');
  });

  onDestroy(() => {
    clearTimeout(scrollTimeout);
  });
</script>

{#if data !== null}
  <div class="data-container">
    {#if mainImage !== null}
      <img
        id="main-image"
        class="main-image"
        title={mainImage.title}
        src={mainImage.src}
        alt={mainImage.alt}
      />
    {/if}
    {#if images !== null}
      <div class="img-grid">
        {#each images as image}
          <img
            class="image"
            title={image.title}
            src={image.src}
            alt={image.alt}
          />
        {/each}
      </div>
    {/if}
    {#each Object.entries(data) as [key, value]}
      <div class="content">
        <h2>{key}</h2>
        <div>{@html value}</div>
      </div>
    {/each}
  </div>
{/if}

<style lang="scss">
  @import '../styles/vars';

  :global(a) {
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .main-image {
    max-width: 850px;
    margin: 32px auto;
  }

  .img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    img {
      width: 100%;
    }
  }

  .data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    gap: 8px;
    max-width: 850px;

    h2 {
      font-weight: 300;
      text-decoration: underline;
    }

    div {
      font-weight: 300;
    }
  }

  .content {
    align-self: flex-start;
  }
</style>
