<script lang="ts">
  export let text = '';
  export let name = 'fish';

  const getAlignmentClass = (): string =>
    name === 'fish' ? 'align-left' : 'align-right';
  const getUserClass = (): string => (name === 'fish' ? 'fish' : 'user');
</script>

<div class={`message-container ${getAlignmentClass()}`}>
  {#if name === 'fish'}
    <img alt="Fish Avatar" class="fish-avatar" src="assets/fish.png" />
  {/if}
  <div class={`message ${getUserClass()}`}>
    {text}
  </div>
</div>

<style lang="scss">
  @import '../styles/vars';

  .message {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 0;
  }

  .message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  .align-left {
    justify-content: flex-start;
  }

  .align-right {
    justify-content: flex-end;
  }

  .fish {
    background-color: $buttonBackground;
    color: $primary;
  }

  .fish-avatar {
    height: 24px;
    width: 24px;
  }

  .user {
    background-color: rgba($color: #87cefa, $alpha: 0.4);
    color: darkcyan;
  }
</style>
