<script lang="ts">
  import ChatBox from './lib/ChatBox.svelte';
</script>

<main>
  <div class="container">
    <h1 class="header">The Svelte Fish Bot</h1>
    <ChatBox />
  </div>
</main>

<style lang="scss">
  @import './styles/vars';
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .container {
    height: calc(100vh - 64px);
    min-height: 600px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 750px;
    margin: auto;
  }

  .header {
    text-align: center;
    color: $primary;
    font-size: 64px;
    font-weight: 100;
  }
</style>
